.btn-primary {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    font-weight: 600;
}
  
.btn-primary:hover {
    background-color: var(--accent-hover);
    border-color: var(--accent-hover);
}